<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <header class="header">
        <div class="header-inner">
            <img src="./images/3.png" class="header-logo" alt="Logo Anchores" tabindex="0">
            <button id="menu" class="header-burger-icon wrapper" alt="Menu navigasi">☰</button>
            <nav id="drawer" class="nav wrapper">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">HOME</a></li>
                    <li class="nav-item"><a href="#">FAVORITE</a></li>
                    <li class="nav-item"><a href="https://nfl30.com">ABOUT US</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-title" tabindex="0" >GOOD FOOD AND GOOD PLACE</h1>
            <p class="hero-text" tabindex="0" >Cari tempat nongkrong dan promo mu disini</p>    
        </div>
    </div>

    <main>
        <section class="content">
            <div class="latest">
                <div id="maincontent" class="content">
                    <h1 class="headline-title" tabindex="0" >Explore Restaurant</h1>
                    <div id="posts" class="posts">

                    </div>

                    <h1 class="headline-title vouchers-title" tabindex="0" >Vouchers To Dine For</h1>
                    <div id="vouchers" class="vouchers">

                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <span class="copyright" tabindex="0">Copyright © 2021 - Anchores</span>
        <ul>
            <li><a href="https://www.linkedin.com/in/nfl30/"><i class="fab fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/nfl30/"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://nfl30.com"><i class="fas fa-globe fa-2x"></i></a></li>
        </ul>
    </footer>

</body>
</html>
